/*div {
border: 2px dotted red;
}*/


.cycle-slideshow { width: 50% }
.cycle-slideshow img { width: 100%; height: auto }
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(/images/Arrow_left_40px.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(/images/Arrow_right_40px.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }


body {
  margin: 0;
  padding: 0;
}

.container{
}

#navbar{
  position: fixed;
  color: #383838;
  margin-top:20px;
  margin-left:-400px;
  display: inline-block;
  left:30%;
  z-index: 999;
}

#navbarlist{
  list-style-type: none;
  position: fixed;
  margin: -10px;
}

li {
  display: inline-block;
  padding: 5px;
  font-family: Futura, Tahoma, sans-serif;
  font-size: 11px;
  margin:2px;
}

#header_container{
  height: 800px;
/*  width:100%;
  margin-left:-10px;
  margin-right:-10px; */
  margin-top: -10px;
  position: relative;
  padding-top:50px;
  padding-left:100px;
  background-color: #2E2E2E;
}

#header_content_box{
  line-height: 40%;
  height: 400px;
  width: 600px;
  position: absolute;
  margin-left: 200px;
  margin-top: 200px;
}

.section_container{
  height:500px;
  width:100%;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  padding-top:25px;
  background-color:white;
}


.section_content_box{
  height: 300px;
  width: 800px;
  position: relative;
  margin: auto;
  top: 100px;
  text-align: center;
  color: gray;
  line-height:75%;
  background-color:white;
}

.project_container{
  /* height:250px; */
  margin-left: 0;
  margin-right: 0;
  padding-left:-10px;
  padding-right:-10px;
  padding-top:50px;
  padding-bottom: 1em;
}

.project_container .cycle-slideshow {
  margin: auto;
  margin-bottom: 1em;
}

.project_content_box{
  height: 300px;
  width: 700px;
  margin: auto;
  top: 25px;
  text-align: center;
  color: gray;
  line-height:75%;
  font-size: 18px
}

.project_caption{
  height: auto;
  width: 600px;
  margin: auto;
  text-align: center;
  color: gray;
  font-size: 14px;
  padding-top:25px;
  padding-bottom:100px;
}

.caption_h0{
  height: auto;
  width: 700px;
  margin: auto;
  top: 25px;
  text-align: center;
  color: gray;
  line-height:125%;
  font-size: 26px;
  padding-bottom: 25px;

}

.caption_h1{
  height: auto;
  width: 700px;
  margin: auto;
  top: 25px;
  text-align: left;
  color: gray;
  line-height:70%;
  padding-top:20px;
  padding-bottom:10px;
  font-family: Futura, Tahoma, sans-serif;

}

.caption_h2{
  height: auto;
  width: 700px;
  margin: auto;
  top: 10px;
  text-align: left;
  color: gray;
  line-height:125%;
  font-size: 16px;
  padding-bottom:20px;
  font-family: Futura, Tahoma, sans-serif;

}

.caption_h3{
  height: auto;
  width: 700px;
  margin: auto;
  top: 10px;
  text-align: left;
  color: gray;
  line-height:120%;
  font-size: 12px;
  padding-top:3px;
  padding-bottom:50px;
  font-family: Futura, Tahoma, sans-serif;

}




#slideshow_wrapper{
  display: block;
  height: 360px;
  width: 1000px;
  margin: auto;
}

#slideshow_container{
  background-color: #FFC;
  display: block;
  float: left;
  height: 360px;
  width: 1000px;
  overflow: auto;
}

#slideshow_prev{
  background-image: url(images/Arrow_left_40px.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  float: left;
  height: 360px;
  width: 75px;
  position: relative;
  z-index: 99;
  padding-right: 15px;
}

#slideshow_next{
  background-image: url(images/Arrow_right_40px.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  float: right;
  height: 360px;
  width: 75px;
  position: relative;
  z-index: 99;
  padding-right:15px
}

#slideshow_slider{
  display: block;
  float: left;
  height: 360px;
  width: 1000px;
  overflow: hidden;
  position: absolute;
  border: solid 1px black;
}

.footer_container{
  height: 5350px;
  width:100%;
  position: relative;
  margin-left:-10;
  margin-right:-10;
  margin-bottom:;
}

.footer_content_box{
  height: 5350px;
  width: 800px;
  position: relative;
  margin:auto;
  top:150px;
  line-height: 400%;
  text-align: center;
  color: gray;
  font-size: 14;
  text-align: center;
}


/*nav bar buttons*/

#navbarlist li a {
  color: #383838;
  text-decoration: none;
}

#tag1k{
  background-color:#DFF6F0;
  clear: both;
}
#tag1k:hover{
  background-color: black;
}


#tag2k{
  background-color:#C0F6E7;
  clear: both;
}
#tag2k:hover{
  background-color: black;
}


#tag3k{
  background-color:#A9F5E1;
  clear: both;
}
#tag3k:hover{
  background-color: black;
}

#tag4k{
  background-color:#F1EEFC;
  clear: both;
}
#tag4k:hover{
  background-color: black;

}

#tag5k{
  background-color:#F1EEFC;
  clear:both;
}
#tag5k:hover{
  background-color: black;
}


#tag6k{
  background-color:#E6E1FD;
  clear: both;
}
#tag6k:hover{
  background-color: black;
}


#tag7k{
  background-color:#C8CAFC;
  clear: both;
}
#tag7k:hover{
  background-color: black;
}


#tag8k{
  background-color:#FBE3B3;
  clear: both;
}
#tag8k:hover{
  background-color: black;
}


#tag9k{
  background-color:#F9C993;
  clear: both;
}
#tag9k:hover{
  background-color: black;
}

#tag10k{
  background-color:#FAAC58;
  clear: both;
}
#tag10k:hover{
  background-color: black;
}

#tag11k{
  background-color:#2E2E2E;
  clear: both;
}
#tag11k:hover{
  background-color: white;
}
